<% content_for :head do  %>
  <title>Monolist | ユーザー：<%= @user.name %></title>
<% end %>
<% content_for :meta_description do  %>
  <meta name="description" content="<%= @user.name %>のモノページです。<%= @user.name %>の欲しいモノ、持ってるモノを表示しています。">
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>